body {
    margin: 0;
}

.topbanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mylogo {
    text-align: left;
    padding-top: 40px;
    padding-left: 65px;
}

.mylogo img {
    display: none;
    height: 100px;
}

.nav {
    color: #BBBBBB;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    word-spacing: 1.5em;
    padding: 1em;
    margin: 50px 50px 50px 50px;
    height: 10%;
}

a:link,
a:visited {
    text-decoration: none;
    color: #BBBBBB;
    padding: 0 0.3em 0 0.2em;
}

a:hover,
a:active {
    text-decoration: none;
    color: #5056E7
}

@import url(//db.onlinewebfonts.com/c/28adc6c6fd652123c3e173389a8be17f?family=SF+Pro+Text);
.banner {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 50px;
    margin-top: 60px;
    background-color: #F7F5FF;
    height: 600px;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .animation {
        grid-template-rows: 2fr 3fr 3fr;
        height: 2800px;
    }
}

@media screen and (max-width: 1024px) {
    .animation {
        grid-template-rows: 1fr 1fr 1fr;
        height: 2000px;
    }
}

.animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 160px;
    background-color: #1b1a21;
    width: 100%;
}

.animation .homepagegif img {
    max-width: 100%;
    padding-top: 25%;
}

.animation .description {
    max-width: 100%;
    padding-top: 20%;
    padding-bottom: 15%;
    /* align-items:center; */
}

.animation .descriptiontitle .logo {
    vertical-align: middle;
}

.animation .description #titletext3 {
    padding-top: 2%;
}

.animation #mockup {
    padding-top: 5%;
}

.animation .mockuppng {
    max-width: 100%;
    align-self: end;
    overflow: hidden;
    justify-self: center;
    padding-bottom: 2%;
}

.animation .mockuppng img {
    max-width: 100%;
    align-self: end;
    overflow: hidden;
    justify-self: center;
    padding-bottom: 2%;
}

.animation .playerpage img {
    display: none;
    max-width: 25%;
    padding-top: 20%;
    padding-left: 5%;
}

.animation h4 {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 12%;
    padding-right: 20%;
    padding-left: 20%;
    vertical-align: text-top;
}

.animation h5 {
    color: #C4C4C4!important;
    font-family: 'SF Pro', sans-serif!important;
    font-weight: 400!important;
    font-size: 14px !important;
    padding-top: 0.5% !important;
    padding-right: 25%!important;
    padding-left: 20% !important;
    text-align: left !important;
    vertical-align: text-top;
}

@media screen and (min-width: 1024px) {
    .animation h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .animation h1 {
        font-size: 36px;
    }
}

.animation h1 {
    color: white;
    font-family: 'SF Pro', sans-serif;
    line-height: 1.2;
    font-weight: 600;
    padding-top: 2%;
    padding-right: 20%;
    padding-left: 20%;
}

.banner .projecttitle {
    margin-left: 200px;
    margin-right: 120px;
}

.banner .image img {
    max-width: 80%;
}

.banner .projecttitle h4 {
    margin-top: 24px;
}

h1 {
    font-family: 'Poppins', sans-serif !important;
    color: #2F2F2F;
    font-size: 28px !important;
    font-weight: 600 !important;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif !important;
    color: #2F2F2F !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    margin: 0px !important;
}

h3 {
    color: #2F2F2F;
    font-family: 'Lato', sans-serif !important;
    font-size: 21px !important;
    font-weight: 700 !important;
    margin: 0px !important;
    padding-top: 30px !important;
    text-align: left !important;
}

h4 {
    color: #2F2F2F;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin: 0px !important;
    padding-top: 10px !important;
    line-height: 150% !important;
    text-align: left !important;
}

h5 {
    color: #2F2F2F;
    font-family: 'SF Pro', sans-serif!important;
    font-weight: 400!important;
    font-size: 12px!important;
    text-align: center !important;
    vertical-align: text-top;
}

li {
    list-style: none;
    color: #455EF2;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    list-style: none;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
}

ol {
    padding: 0 0 0 0.3em !important;
}

.navigationbar {
    display: none;
    position: fixed;
    top: 20%;
    z-index: 1;
    float: right;
}

.dot {
    margin-bottom: 0.2em;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
}

.dotactive {
    /* margin:1px; */
    margin-bottom: 0.2em;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;
    vertical-align: middle;
}

.floatinglist {
    text-transform: uppercase;
    position: fixed;
    color: #BBBBBB;
    top: 20%;
    z-index: 1;
    Height: 170px;
    left: 88%;
    /* right:10px; */
}

.floatinglist li {
    list-style: none;
    color: #BBBBBB;
    line-height: 36px!important;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 14px !important;
    font-weight: 400;
    list-style: none;
    text-align: left;
}

.btn {
    padding: 0 0.2em 0 0.2em !important;
}

ion-icon {
    color: #BBBBBB;
}

.floatinglist a:hover {
    /* padding: 0 0.5em 0 0.5em; */
    color: white;
    background: #90A6F5;
    border-radius: 5px;
    font-size: 15px;
}

.active a {
    /* padding: 0 0.5em 0 0.5em; */
    color: white;
    background: #90A6F5;
    border-radius: 5px;
}

.subtitle {
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding-top: 120px;
    text-align: left;
    list-style-type: disc;
}

.secondsubtitle {
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: circle;
}

h4 {
    color: #2F2F2F;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin: 0px !important;
    padding-top: 10px !important;
    line-height: 150% !important;
    text-align: left !important;
}

.mainbanner {
    margin-top: 300px;
    background-color: #F3F3F7;
    height: 400px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.mainbanner img {
    width: 1000px;
    height: auto;
    max-width: 100%;
}

#nav {
    color: #BBBBBB;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    word-spacing: 1.5em;
    padding: 1em;
    margin: 50px 50px 50px 50px;
    height: 10%;
}

#introduction {
    font-family: 'Lato', sans-serif;
    color: #2F2F2F;
    padding: 10% 20% 0px 20%;
}

#basicinfo {
    padding-right: 10%;
}

@media screen and (min-width: 1024px) {
    .mainprocess {
        padding-left: 28%;
        padding-right: 28%;
    }
}

@media screen and (max-width: 1024px) {
    .mainprocess {
        padding-left: 14%;
        padding-right: 14%;
    }
}

.mainprocess {
    font-family: 'Lato', sans-serif;
    color: #2F2F2F;
    align-content: center;
}

#persona {
    position: relative;
}

.main .mainprocess img {
    display: block;
    object-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    height: auto;
    max-width: 100%;
}

#balsmiq {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.side-button-wrap {
    position: fixed;
    top: 20px;
    right: -100px;
    width: 100px;
    transition: right 0.3s;
}

.side-button-wrap.slide-in {
    right: 200px;
}

#highfidelity {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #1b1a21;
    height: 1000px;
    align-items: center;
}

#hifitext {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    text-align: left;
    padding-left: 5%;
}

#hifitext h3 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#hifitext h4 {
    color: white;
    font-weight: 300;
}

#hifiimages {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 1024px) {
    #hifiimages img {
        max-width: 95%;
    }
    #hifiimages {
        gap: 10px;
    }
}

@media screen and (max-width: 1024px) {
    #hifiimages img {
        max-width: 100%;
    }
    #hifiimages {
        gap: 20px;
    }
}

#hifiimages img {
    padding-top: 5%;
}

@media screen and (min-width: 1024px) {
    #firstline,
    #secondline {
        padding-right: 18%;
        padding-left: 5%;
        gap: 5px;
    }
}

@media screen and (max-width: 1024px) {
    #firstline,
    #secondline {
        padding-right: 18%;
        padding-left: 20%;
        gap: 10px;
    }
}

#firstline,
#secondline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-height: 100%;
}

iframe {
    height: 600px;
    width: 100%;
}


/*this is for bottom navigation*/

h6 {
    color: #2F2F2F !important;
    font-family: 'Lato', sans-serif!important;
    font-size: 36px !important;
    font-weight: 700 !important;
    margin: 0px;
    padding-top: 1em;
    text-align: center;
}

h7 {
    color: #777777 !important;
    font-family: 'SF Pro', sans-serif!important;
    font-size: 14px !important;
    font-weight: 600 !important;
    margin: 0px;
    padding-top: 1em;
}

.bottomnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.bottomnavcontent {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    width: 100%;
    justify-self: center;
}

#bottominfo {
    height: 28px;
    margin-top: 15%;
    text-align: center;
    position: relative;
    margin-bottom: 10%;
}


/*this is for bottom info*/

#bottominfo img {
    height: 28px;
    opacity: 1;
}

#bottominfo a:hover {
    text-decoration: none;
    color: #5056E7
}

#bottominfo h4 {
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    text-align: center !important;
}

#year {
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    svg {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    svg {
        transform: scale(2.0);
    }
}

svg.tea {
    --secondary: #242f3f;
}

svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}

svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}

svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-webkit-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-o-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-moz-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-webkit-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-o-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}