body {
    margin: 0;
}

.topbanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mylogo {
    text-align: left;
    padding-top: 40px;
    padding-left: 65px;
}

.mylogo img {
    height: 100px;
}

.nav {
    color: #BBBBBB;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    word-spacing: 1.5em;
    padding: 1em;
    margin: 50px 50px 50px 50px;
    height: 10%;
}

a:link,
a:visited {
    text-decoration: none;
    color: #BBBBBB;
    padding: 0 0.3em 0 0.2em;
}

a:hover,
a:active {
    text-decoration: none;
    color: #5056E7
}

a:hover {
    cursor: pointer;
}

.introduction {
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    width: 64%;
    height: 580px;
    /* background: #FAF9F8; */
    text-align: left;
}

.introduction h3 {
    font-family: 'Poppins', Helvetica, Arial, serif;
    color: #2f2f2f;
    font-size: 48px;
    font-weight: 600;
    padding-top: 12%;
    padding-left: 26%;
}

@media screen and (min-width: 1024px) {
    .workthumbnail {
        grid-template-rows: 600px 600px;
    }
}

@media screen and (max-width: 1024px) {
    .workthumbnail {
        grid-template-rows: 500px 500px;
    }
}

.workthumbnail {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work1container h4,
.work2container h4,
.work3container h4,
.work4container h4 {
    font-family: "lato", Helvetica, Arial, serif;
    color: #9E9E9E;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: left;
    padding-left: 3rem;
    padding-top: 3rem;
    margin: 0;
}

h5 {
    font-family: "lato", Helvetica, Arial, serif;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 400;
    /* padding-top: 2%; */
    text-align: left;
    padding-left: 3rem;
    padding-top: 0.5rem;
    margin: 0;
}

.workimage {
    display: flex;
    align-items: center;
    padding-bottom: 7%;
}

.work1container {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/2;
    cursor: pointer;
    background-color: #FFF5F4;
}

#workcontent {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
}


/* .work1container .description {
    display: block;
    grid-row: 1/3;
} */

.work1container img {
    display: block;
    max-width: 90%;
    margin: auto;
    /* margin-left: 5%; */
}

.work2container {
    position: relative;
    grid-column: 2/2;
    grid-row: 1/2;
    background-color: #F4F6FF;
    cursor: pointer;
}

.work2container img {
    display: block;
    max-width: 70%;
    margin: auto;
    /* max-height: fit-content; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    padding-top: 10%;
}

.work3container {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    /* background-color: #EFF1FF; */
    cursor: pointer;
    background-color: #F2F8F6;
}

.work3container img {
    display: block;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 6%;
}

.work4container {
    position: relative;
    grid-column: 2/2;
    grid-row: 2/2;
    /* background-color: #EFF1FF; */
    cursor: pointer;
    background-color: #F7F5FF;
}

.work4container img {
    display: block;
    max-width: 60%;
    margin: auto;
    padding-top: 8%;
}

.overlaywork1 {
    font-family: "Poppins", Helvetica, Arial, serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #F8F8F8;
    cursor: pointer;
}

.work1container:hover .overlaywork1 {
    opacity: 0.98;
}

.work1container:hover {
    cursor: pointer;
}

.overlaywork1text {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.overlay {
    font-family: "Poppins", Helvetica, Arial, serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #F8F8F8;
    cursor: pointer;
}

.work2container:hover .overlay {
    opacity: 0.98;
}

.work2container:hover {
    cursor: pointer;
}

.text {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.overlaywork3 {
    font-family: "Poppins", Helvetica, Arial, serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #F8F8F8;
    cursor: pointer;
}

.work3container:hover .overlaywork3 {
    opacity: 0.98;
}

.work3container:hover {
    cursor: pointer;
}

.overlaywork3text {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.work4container:hover .overlaywork4 {
    opacity: 0.98;
}

.work4container:hover {
    cursor: pointer;
}

.overlaywork4 {
    font-family: "Poppins", Helvetica, Arial, serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #F8F8F8;
    cursor: pointer;
}

.overlaywork4text {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}


/*this is for bottom info*/

.bottominfo {
    height: 28px;
    margin-top: 15%;
    text-align: center;
    position: relative;
    margin-bottom: 10%;
}

.bottominfo img {
    height: 28px;
    opacity: 1;
}

.bottominfo a:hover {
    text-decoration: none;
    color: #5056E7
}

.bottominfo h5 {
    color: #2F2F2F;
    font-family: 'SF Pro', sans-serif!important;
    font-weight: 400!important;
    font-size: 12px!important;
    text-align: center;
    vertical-align: text-top;
    padding: 0;
    margin: 0px;
    text-align: center;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    svg {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    svg {
        transform: scale(2.0);
    }
}

svg.tea {
    --secondary: #FFF5F4;
}

svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}

svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}

svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-webkit-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-o-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-moz-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-webkit-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-o-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}